*
{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.style
{
    width: 90%;  
}
#calculator
{
    background-color: rgb(99, 90, 90);
    width: 300px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 30px;
}
#display
{
    height: 20%;
    border-radius: 10px;
    background-color: aqua;
}
.lineSpace
{
    height: 5px;
    background-color: white;
}
#keyPad
{
    height: 67%;
    /* background-color: red; */
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 5px;
}
.numbers
{
    width: 73%;
    /* 200px */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}
.operators
{
    width: 23%;
    height: 100%;
}
.padButtons
{
    width: 30%;
    height: 20%;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
}
